// css helper
@import './config.scss';

// 空间辅助类， 例如 p-l-10 ->  padding-left: 10px
$spacers: (
  m: margin,
  p: padding
);
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$sizes: 0 1 2 3 4 5 10 15 20 30 40 50;

@each $k, $v in $spacers {
  @each $kk, $vv in $directions {
    @each $kkk in $sizes {
      .#{$k}-#{$kk}-#{$kkk} {
        #{$v}-#{$vv}: $kkk * 1px !important;
      }
    }
  }
}

// 颜色辅助类, 例如 bg-success ->  background-color: 成功主题色变量
$color-types: (
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  info: $color-info,
  theme: $theme-color
);
$appearances: (
  text: color,
  bg: background-color
);
@each $k, $v in $appearances {
  @each $kk, $vv in $color-types {
    .#{$k}-#{$kk} {
      #{$v}: $vv !important;
    }
  }
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-fill {
  flex: 1 1 auto;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}
